.searchbar {
    height: 45px;
    width: 90%;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    padding-left: 25px;
}

.user-search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.grouping-btn {
    background-color: white;
    border: 1.5px solid #000080;
    border-radius: 5px;
    color: #000080;
    cursor: pointer;
}

.grouping-btn-clicked{
    background-color: #000080;
    color: white;
}
